/* RESET */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* CUSTOM PROPERTIES */

:root {
  /* Colors */
  --color-dark: #323431;
  --color-light: #fff;
  --color-blue: #1e5c85;
  --color-orange: #f39d2e;
  --color-green: #98b826;

  /* Fonts */

  --font-sans: "montserrat", sans-serif;
  --font-size: 16px;
  --font-scale: 1.25;

  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));

  --line-height: 1.5;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-2);
}
h6 {
  font-size: var(--font-size-1);
}

p {
  font-family: "bilo", sans-serif;
}

a,
li {
  font-size: var(--font-size-1);
  line-height: var(--line-height);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}

#menu-button {
  display: none;
}

/* LAYOUT */

body {
  color: var(--color-light);
}

/* Overlay */

.hero__overlay {
  background: rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* SITE HEADER */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 4rem;
  position: fixed;
  z-index: 99;
}

.branding {
  max-width: 9rem;
}

.menu__list {
  display: flex;
  list-style: none;
  gap: 60px;
}
.menu__item a {
  color: var(--color-light);
  font-weight: 300;
  font-size: --font-size-1;
  font-family: var(--font-sans);
  position: relative;
}

.menu__item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu__item a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Header Icons */

.site-header__icons {
  display: flex;
  gap: 40px;
  align-items: center;
}

#menu-button {
  display: none;
  border: none;
  background: none;
  flex-shrink: 0;
}

/* HERO */

.hero {
  background: url(/assets/images/bg_2.jpg);
  background-position: 0% 20%;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  grid-template-rows: 1fr auto;
  align-items: center;
}

.hero__main {
  display: flex;
  padding-top: 80px;
  padding: 80px 4rem 0;

  max-width: 80rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hero__content {
  max-width: 42rem;
  margin-top: 8rem;
}

.hero__title {
  font-size: 70px;
  margin: 0;
  line-height: 1;
}

.hero__desc {
  font-size: 30px;
  font-weight: 100;
}

/* HERO BOTTOM / SWIPER */

.hero__bottom-inner {
  position: relative;
  margin-top: 4rem;
  width: 100%;
}

/* Socials */

.hero__bottom-socials {
  position: absolute;
  top: 5%;
  left: 1%;
}

.social__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social__item {
  list-style: none;
  z-index: 299;
}

.social__item:hover svg path {
  fill: #f39d2e;
}

/* Swiper */
.hero__bottom-swiper {
  position: relative;

  max-width: 80rem;
  padding: 0 4rem;
  margin: 0 auto;

  --swiper-navigation-size: 22px;
  --swiper-navigation-sides-offset: 30px;
}

.swiper-wrapper {
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;

  background-color: rgba(217, 217, 217, 0.11);
  backdrop-filter: blur(30px);
  border-radius: 22px;

  padding: 4rem 0;
  max-width: 24rem;
}

.swiper-wrapper {
  margin-bottom: 3rem;
}

.swiper-slide img {
  margin-bottom: 2rem;
}

.product__title,
.product__price,
.product__button {
  position: absolute;
  transform: translate(-50%, -50%);
}

.product__title {
  left: 50%;
  top: 0.5rem;
  z-index: 99;
  color: var(--color-light);
  font-size: 1rem;
}

.product__price {
  left: 50%;
  bottom: 2.5rem;
  z-index: 99;
  color: var(--color-light);
  font-family: "bilo";
  font-weight: 700;
  font-size: 14px;
}

.product__button {
  left: 50%;
  bottom: 0.5rem;
  z-index: 99;
  background-color: var(--color-blue);
  border: none;
  color: var(--color-light);
  border-radius: 20px;
  font-family: "bilo";
  font-weight: 600;
  font-size: 14px;
  padding: 0.3rem 1.3rem;
}

.product__button:hover {
  background-color: var(--color-orange);
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  margin: -0.6rem;
  position: absolute;
  top: 42% !important;
}

/* Pagination */

.swiper-pagination {
}

.swiper-pagination-bullet {
  background-color: var(--color-light) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-blue) !important;
}

.swiper-pagination-bullet {
  width: 2rem !important;
  height: 0.2rem !important;
  border-radius: 0 !important;
}

/* 1200px or less */

@media screen and (max-width: 1200px) {
  .menu__list {
    gap: 30px;
  }
}

/* 1024px or less */

@media screen and (max-width: 1024px) {
  .hero__bottom-socials {
    display: none;
  }
}

/* 900px or less */

@media screen and (max-width: 900px) {
  .menu__list {
    display: none;
  }

  #menu-button {
    display: block;
    position: absolute;
    right: 10%;
  }

  .site-header__icons {
    position: absolute;

    right: 25%;
  }
}

/* 760px or less */

@media screen and (max-width: 760px) {
  .hero__title {
    font-size: var(--font-size-6);
  }

  .hero__desc {
    font-size: var(--font-size-2);
  }

  /* .hero__bottom-socials {
    display: block;

    top: 110%;
    margin-left: 4rem;
  }

  .social__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  } */
}

/* 560PX OR LESS */
@media screen and (max-width: 560px) {
  .hero__title {
    font-size: var(--font-size-5);
  }

  .hero__desc {
    font-size: var(--font-size-2);
  }
}

/* 480px or less */

@media screen and (max-width: 480px) {
  .site-header__icons {
    display: none;
  }

  .hero__desc {
    font-size: var(--font-size-1);
  }
}

/* 420px or less */

@media screen and (max-width: 420px) {
}
