/* RESET */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* CUSTOM PROPERTIES */

:root {
  /* Colors */
  --color-dark: #323431;
  --color-light: #fff;
  --color-blue: #1e5c85;
  --color-orange: #f39d2e;
  --color-green: #98b826;

  /* Fonts */

  --font-sans: "montserrat", sans-serif;
  --font-size: 16px;
  --font-scale: 1.25;

  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));

  --line-height: 1.5;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-2);
}
h6 {
  font-size: var(--font-size-1);
}

p {
  font-family: "bilo", sans-serif;
}

a,
li {
  font-size: var(--font-size-1);
  line-height: var(--line-height);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}

#menu-button {
  display: none;
}

/* LAYOUT */

.site-header {
  background-color: #323431;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 4rem;
}

.menu__list {
  display: flex;
  list-style: none;
  gap: 60px;
}
.menu__item a {
  color: var(--color-light);
}

.site-header__icons {
  display: flex;
  gap: 60px;
}
